*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body{
    font-family: 'Courier New', Courier, monospace;
}

.header{
    height: 95vh;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('./img/bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header .logo,
.header .navbar a{
    color: white;
}
.header .navbar{
    border: 2px solid white;

}

.header .navbar .logo{
    float: left;
}

.header .navbar .nav-item{
    float: right;
}

.header .navbar .nav-item{
    display: inline-block;
}

.navbar::after{
    content: '';
    display: block;
    clear: both;
}